USE [ifood]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 12/10/2020 2:00:41 AM ******/
DROP TABLE IF EXISTS [dbo].[Produto]
GO
/****** Object:  User [ifood]    Script Date: 12/10/2020 2:00:41 AM ******/
DROP USER IF EXISTS [ifood]
GO
USE [master]
GO
/****** Object:  Database [ifood]    Script Date: 12/10/2020 2:00:41 AM ******/
DROP DATABASE IF EXISTS [ifood]
GO
/****** Object:  Database [ifood]    Script Date: 12/10/2020 2:00:41 AM ******/
CREATE DATABASE [ifood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ifood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ifood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ifood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ifood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ifood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ifood]
GO
/****** Object:  User [ifood]    Script Date: 12/10/2020 2:00:41 AM ******/
CREATE USER [ifood] FOR LOGIN [ifood] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ifood]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 12/10/2020 2:00:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[IdProduto] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](150) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Imagem] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Produto] ([IdProduto], [Descricao], [Valor], [Imagem]) VALUES (N'1e0778f9-2e37-47bf-a75b-586676cc6d14', N'produto1', CAST(100.50 AS Decimal(18, 2)), N'produto1.jpg')
INSERT [dbo].[Produto] ([IdProduto], [Descricao], [Valor], [Imagem]) VALUES (N'd450d7da-6aaf-400d-aeb5-c1d5ec93926f', N'produto2', CAST(59.30 AS Decimal(18, 2)), N'produto2.jpg')
INSERT [dbo].[Produto] ([IdProduto], [Descricao], [Valor], [Imagem]) VALUES (N'6f4b716b-82f8-48dc-afbc-6985128a65ce', N'produto5', CAST(452.31 AS Decimal(18, 2)), N'produto5.jpg')
GO
USE [master]
GO
