
@import 'site';

.ifoodModal{
  padding: 0px 50px 20px 50px;
  max-height: 620px;
  overflow-y: auto;

}

.ifoodModal nb-tab{
  margin-top: 10px;
  max-height: 415px;
  min-width: 730px;
}

.ifoodInput{
  margin-top: 10px;
}

.modal-lg{
  min-width: 1000px !important;
}

.modal-footer-log{
  clear: both;
  max-width: 100% !important;
  flex: none !important;
}
